# -- Board: ColorLight-5A-75E-V71_(FT2232H)

# -- CLK
LOCATE COMP "clk" SITE "P6";
IOBUF  PORT "clk" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25 MHZ;

# -- LED
LOCATE COMP "led" SITE "A11";
IOBUF PORT "led" PULLMODE=NONE IO_TYPE=LVCMOS33;

# -- RST_N
LOCATE COMP "rst_n" SITE "L13";
IOBUF  PORT "rst_n" PULLMODE=NONE IO_TYPE=LVCMOS33;

# -- STALL
LOCATE COMP "stall" SITE "L14";
IOBUF  PORT "stall" PULLMODE=NONE IO_TYPE=LVCMOS33;

# -- debug led array
LOCATE COMP "debug[0]" SITE "F13";
IOBUF PORT "debug[0]" PULLMODE=NONE IO_TYPE=LVCMOS33;
# -- debug led array
LOCATE COMP "debug[1]" SITE "G13";
IOBUF PORT "debug[1]" PULLMODE=NONE IO_TYPE=LVCMOS33;
# -- debug led array
LOCATE COMP "debug[2]" SITE "H13";
IOBUF PORT "debug[2]" PULLMODE=NONE IO_TYPE=LVCMOS33;
# -- debug led array
LOCATE COMP "debug[3]" SITE "J13";
IOBUF PORT "debug[3]" PULLMODE=NONE IO_TYPE=LVCMOS33;
# -- debug led array
LOCATE COMP "debug[4]" SITE "F14";
IOBUF PORT "debug[4]" PULLMODE=NONE IO_TYPE=LVCMOS33;
# -- debug led array
LOCATE COMP "debug[5]" SITE "G14";
IOBUF PORT "debug[5]" PULLMODE=NONE IO_TYPE=LVCMOS33;
# -- debug led array
LOCATE COMP "debug[6]" SITE "H14";
IOBUF PORT "debug[6]" PULLMODE=NONE IO_TYPE=LVCMOS33;
# -- debug led array
LOCATE COMP "debug[7]" SITE "J14";
IOBUF PORT "debug[7]" PULLMODE=NONE IO_TYPE=LVCMOS33;
